body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 40px;
    color: #44e708;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.buttongreen {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color: #28a745;
}
.button:hover {
    opacity: 0.9;
}

.button-green {
    background-color: #28a745;
}

.button-green:hover {
    background-color: #218838;
}

.button-blue {
    background-color: #007bff;
}

.button-blue:hover {
    background-color: #0056b3;
}

.button-red {
    background-color: #f15161;
}

.button-red:hover {
    background-color: #b92937;
}

.file {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  input[type="file"] 
  {
    display: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

tr:hover {
    background-color: #f5f5f5;
}